
     <div class="well">

        <a href="https://web.facebook.com/kenneth.janoras.3/" target="_blank"> <!-- '_blank' opens the link in a new tab -->
            <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook Icon" width="50" height="50"> <!-- Using a sample Facebook icon -->
        </a>

            <a class="pull-right" href="https://github.com/kennethjanoras/Flask.git" target="_blank"> <!-- '_blank' opens the link in a new tab -->
                <img src="https://github.com/fluidicon.png" alt="GitHub Icon" width="50" height="50"> <!-- Replace the src attribute with the URL of your desired GitHub icon -->
            </a>
            
            

        

    </div>