<html>

<head>

    <title>CRUD API</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename = 'steam.png' )}}">


</head>

<body class style="
background-color: cornsilk;">


<div class="container">

    <div class="well text-center" style="background-color: darkorange;
}">

        <h1 style="font-weight: 900;
            font-size: 50px;">FLASK CRUD API</h1>

    </div>
    
    
    </body>
    
    


    